* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.code-y{
    background-color: #06130d;
    color: #ffdb4d;
}
.code-b{
    background-color: #06130d;
    color: #428df5;
}

.row {
  float: left;
  width: 100%;
  padding: 20px;
  text-align: center;
}
.row h3{
  text-align: center;
}
