* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #ebd8f2;
}
h3 {
  color: #753478;
}
.code-y{
    background-color: #06130d;
    color: #ffdb4d;
    display : box;
}
.code-b{
    background-color: #06130d;
    color: #428df5;
}

.row {
  float: left;
  width: 70%;
  padding: 20px;
  text-align: center;
  margin-left:14%;
  margin-right:14%;
   background-color: white;
}
.row h3{
  text-align: center;
}
